/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #8BBEB2;
    font-family: "marhey", "sans-serif";
    margin: 0;
}

h1, h2, h3 {
    font-family: "marhey", "sans-serif";
    text-transform: uppercase;
    color: #BD6B73;
}

/* Header */

header {
    background-color: #363636;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 110px;
    display: block;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 100px;
}

header h2 {
    padding-top: 30px;
    text-align: center;
}



/* game-area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.game-area p {
    color: #BD6B73;
    font-size: 120%;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

#messages {
    height: 20px;
    padding-top: 15px;
    padding-bottom: 65px;
}

.player {
    width: 45%;
    float: left;
}

#player-image {
    width: 100%;
    height: 100%;
}

.computer {
    width: 45%;
    float: right;
}

#computer-image {
    width: 100%;
    height: 100%;
    
}

.container {
    text-align: center;
    width: 300px;
    height: 200px;
    padding-top: 100px;
}

#restart {
    font-size: 50px;
}

/* Footer */

footer {
    height: 20px;
    background-color: #8BBEB2;
}

/* media query: laptops and larger (992px and up) */

@media screen and (min-width: 992px) {
    
    #player-image {
        width: 75%;
        height: 75%;
    }

    #computer-image {
        width: 75%;
        height: 75%;
    }

}